*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_general{
   display: flex;
   width: 100vw;
   height: 100vh;
   justify-content: center;
   align-items: center;
}

.box-initial{
    background: #cdc8c8;
    width: 45vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-scren{
    background: white;
    width: 42vw;
    height: 89vh;
    border-radius: 7px;
    display: flex;
}

.right-side{
    background: #0066ff;
    width: 43%;
    border-radius: 7px 0 0 7px;
    height: 100%;
}

.left-side{
    width: 57%;
    height: 100%;
    border-radius: 0 7px 7px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 75px;
}

.comment-main{
    color: white;
    padding: 15px;
    margin: 8px 0 70px 0}

.comment-main h1{
    font-weight: 600;
    font-size: 20px;
}


.comment-main p{
    font-size: 10px;
    font-weight: 200;
    margin-top: 20px;

}
.comment-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.box-comment{
    background: #0000ff;
    color: white;
    border-radius: 7px;
    width: 79%;
    height: 25%;
    margin-left: 15px;
    padding: 10px;

}

.box-comment h5{
    font-size: 12px;
    align-items: center;
    margin-bottom: 15px;
}

.box-comment p{
    font-size: 9px;
    font-weight: 200;
    margin-bottom: 17px;
}

.info-user{
    display: flex;
    align-items: center;
}

.comment-name{
    padding: 2px;
    margin-left: 3px;
    
}

.comment-name p{
    font-size: 8px;
    font-weight: 300;
}

.comment-star p{
    color: yellow;
    font-size: 12px;
    margin-left: 11px;
}


.left-title{
    font-size: 18px;
    padding-bottom: 25px;
    text-align: left;
    color: black;
    margin-left: 50px;

}

.formulario{
    background: white;
    height: 65%;
    width: 75%;
    padding: 10px;
    margin-left: 50px;
}

.label-form{
    font-size: 9px;
    color: #4e4d4d;
}
 
.formulario div{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#nome-header{
  
}

.submit-button{
    background: #0066ff;
    border-radius: 7px;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
    
}


